.artist{
    border: 5px;
    border-radius: 10px;
    background-color: aqua;
    padding: 2.5%;
    width: 95%;
    z-index: 1;
}

.artistprofile{
    height: 15%;
    width: 50%;
    border-radius: 5px;
    margin: auto;
}

.artistdesc{
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 3%;
    border-bottom: 5px;
    border-style: solid;
    border-bottom-color: grey;
    z-index: 2;
}

.footer{
    padding: 2%;
    background-color: darkgray;
    

}